@charset "UTF-8";
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Plugins
// @import "~sweetalert2/src/sweetalert2";
// @import "~noty/src/noty";
// @import "~noty/src/themes/bootstrap-v4";

/* Space out content a bit */

* {
  font-family: "Andale Mono";
  font-size: 16px;
}

a {
  color: black;
  font-family: "Andale Mono";
  font-size: 14px;
    text-align: center;
}

p {
  font-family: "Andale Mono";
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  width: 760px;
  height: 400px
  line-height: 2;
   margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
 color: rgba(6, 20, 27, 0.9);
  margin-top: 50px;

}

h2 {

 padding-left: 30px;
  font-family: "Andale Mono";
  font-size: 18px;
   padding-top: 80px;
   color: rgba(6, 20, 27, 0.9);
}

img {

 display: block;
  margin-left: 40px;
  margin-right: 300px;


}


.nav-item {
  color: black;
  background: white;
  width: 100%;
  font-size: 14px;
font-family: "Andale Mono";

  

}
.nav-link {
  padding: 0.45rem 0.8rem;
  font-family: "Andale Mono";
  font-size: 16px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.lang-button {
  position: absolute;
  right: 30px;
  display: inline-flex;
  background: white;
  span {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    &.selected {
      text-decoration: underline;
    }
  }
}

.tag-name {
  cursor: pointer;
  margin-right: 4px;
  font-size: 14px;
  display: inline-block;
  &:hover {
    color: blue !important;
  }
  &.active {
    color: blue !important;
    text-decoration: underline !important;
  }
}

.concreto{


    background: url("../imagens_portal/capela/azuleijo.png");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.baia_video{

  padding-top: 50px;
  padding-right: 10px;
 padding-left: 70px;
 margin-left: 20px;
}



.gallery {
  position: relative;
  z-index: 2;
  padding: -20px;
  margin-right: 10px;
  margin-left: -40px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;

}
.gallery.pop {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}
.gallery figure {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
    padding-right: 40px;
}
.gallery figure img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.gallery figure figcaption {
  display: none;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out .2s;
  transition: opacity .5s ease-in-out .2s;
}
.popup.pop {
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out 0s;
  transition: opacity .2s ease-in-out 0s;
}
.popup.pop figure {
  margin-top: 0;
  opacity: 1;
}
.popup figure {
  position: absolute;
  top: 40%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin-top: 30px;
  opacity: 0;
  -webkit-animation: poppy 500ms linear both;
          animation: poppy 500ms linear both;
}
.popup figure img {
  position: relative;
  z-index: 2;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 6px 30px rgba(0, 0, 0, 0.4);
}
.popup figure figcaption {
  position: absolute;
  bottom: 50px;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.78));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.78));
  z-index: 2;
  width: 100%;
  border-radius: 0 0 15px 15px;
  padding: 100px 20px 20px 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
}
.popup figure figcaption small {
  font-size: 11px;
  display: block;
  text-transform: uppercase;
  margin-top: 12px;
  text-indent: 3px;
  opacity: .7;
  letter-spacing: 1px;
}
.popup figure .shadow {
  position: relative;
  z-index: 1;
  top: -15px;
  margin: 0 auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 98%;
  height: 50px;
  opacity: .6;
  -webkit-filter: blur(15px) contrast(2);
          filter: blur(15px) contrast(2);
}
.popup .close {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(#close);
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.popup .close svg {
  width: 100%;
  height: 100%;
}